@import url('https://fonts.googleapis.com/css2?family=Asap:wght@600&display=swap');
/*add a abstract backgroung image*/
body {
    background-image: url("hand-painted-watercolor-background-with-sky-clouds-shape-min.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Asap', "Britannic Bold", "arial", serif;
    text-align: center;
}

/*center div horizontally and vertically*/
.center {
    width: 70%;
    margin: auto;
}

a {
    text-decoration: none;
}

h2 {
    color: #fd976e;
    font-size: 3.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h3 {
    color: #fd976e;
    font-size: 2.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h1 {
    color: #46bdf2;
    font-size: 4em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h4 {
    color: #46bdf2;
    font-size: 1.7em;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h5 {
    color: #46bdf2;
    font-size: 1.3em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#keyInfo {
    font-size: 0.5em;
    -webkit-text-stroke-width: 0;
}

p {
    overflow-wrap: anywhere !important;
}

/* green floating button at the bottom*/
.button {
    background-color: #7ef851;
    border-radius: 10px;
    border: none;
    color: #236b08;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-top: 7vh;
    cursor: pointer;
}

#refresh {
    position: fixed !important;
    top: 80%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#tryAPI {
    margin: 4px;
    background-color: #62bae8;

    font-size: 0.7em;
    line-height: 0.6;
}

.icon-info {
    /* at top left*/
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar #ApiForApi {
    padding: 8px 8px 8px 32px;
    font-size: 22px;
    color: #818181;
    display: block;
    transition: 0.5s;
}
#ApiForApi:hover {
    color: #f1f1f1;
}
#endpoints {
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.sidebar .closebtn {
    cursor: pointer;
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.right {
    width: 230px;
    top: 85%;
    position: fixed;
    left: 85%;
    bottom: -15%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.codeheader {
    padding: 10px 5px 5px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    color: #134860;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    background-color: #62BAE8;
}

#codebox {
    padding: 1px;
    font-size: 1.2em;
    line-height: 1.2;
    color: #7b2a09;
    background-color: #ffc9936b;
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;
}

.chip {
    padding: 0 12px;
    background-color: #7c7c7c;
    border-radius: 100px;
    display: inline-flex;
    margin: 4px;
    color: rgb(10, 248, 103);
    align-items: center;
    height: 32px;
    font-size: 14px;
    border: none;
}

.git {

}

@media screen and (max-width: 700px) {
    body {
        background-image: url("hand-painted-watercolor-background-with-sky-clouds-shape - R-min.jpg");
    }

    .sidebar {
        padding-top: 15px;
    }


    /*  move class right to bottom of page*/
    .content {
        margin-top: 60px;
    }

    .right {
        position: absolute !important;
        top: 110%;
        left: 50%;
    }

    #refresh {
        position: absolute !important;
        top: 85%;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        color: #fd976e;
        font-size: 1.5em;
    }

    h1 {
        color: #46bdf2;
        font-size: 2.5em;
    }

    h4 {
        color: #46bdf2;
        font-size: 1.7em;
        letter-spacing: 2px;
    }
}

/* media query for big screen */
@media screen and (max-width: 1000px) {

}
