{% extends 'base_crud.html' %}
{% load static %}
{% block content %}
<div class="sidebar">
    <div class="tabs">
        <div class="tab">
            <a href="/crud">API</a>
        </div>
        <div class="tab">
            <a href="meta">MetaData</a>
        </div>
        <div class="tab">
            <a href="types">Types</a>
        </div>
    </div>
</div>
<div class="card">
    <div class="tab-content" id="auth">
        <h2>AUTH FORM</h2>
        {% for auth in auths %}
            <div class="row">
                <form action="{% url 'crudAuths' %}" method="post">{% csrf_token %}
                    <div class="col">
                        <div class="form-group"  style="display: none">
                            <input type="text" name="original_auth" value="{{ auth }}" style="display: none">
                        </div>
                        <div class="form-group">
                            {{ forloop.counter }}.
                            <input type="text" name="auth" value="{{ auth }}" style="width: 80%;">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" style="height: 60px; width: 60%">
                            <input type="submit" value="update">
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        {% endfor %}

    </div>
</div>

{% endblock %}