<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <title>Title</title>
</head>
<body>
{# make a form for updating or adding entries to api database according to ApiModel #}
{#name = models.CharField(max_length=100)#}
{#    link = models.CharField(max_length=500)#}
{#    description = models.CharField(max_length=150)#}
{#    type = models.CharField(max_length=50)#}
{#    tryMe = models.CharField(max_length=500)#}
{#    auth = models.CharField(max_length=10)#}
{#    working = models.BooleanField(default=True)#}
{#    _id = models.IntegerField(primary_key=True)#}

<div class="card">
    <h2>API FORM</h2>
    <div class="row">
        <form action="/crud/" method="get">{% csrf_token %}
            <div class="col">
                <div class="form-group" style="width: 10%;">
                    <label for="name">Id</label>
                    <input type="number" name="id" value="{% if data %}{{ id }}{% endif %}">
                </div>

                <input type="submit" value="OK" style="width: 30%; margin-left: 40%">
            </div>
        </form>
    </div>
    <div class="row">
        <form action="/crud/" method="post">{% csrf_token %}
            <div class="col">
                <div class="form-group" style="width: 50%;">
                    <label>Name</label>
                    <input type="text" name="name" value="{% if data %}{{ data.name }}{% endif %}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Link</label>
                    <input type="text" name="link" value="{% if data %}{{ data.link }}{% endif %}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" name="description" value="{% if data %}{{ data.description }}{% endif %}">
                </div>
            </div>
            <div class="col">
                <div class="form-group" style="width: 60%;">
                    <label>Type</label>
                    <input type="text" name="type" value="{% if data %}{{ data.type }}{% endif %}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label>TryMe</label>
                    <input type="text" name="tryMe" value="{% if data %}{{ data.tryMe }}{% endif %}">
                </div>
            </div>
            <div class="col">
                <div class="form-group" style="width: 30%;">
                    <label>Auth</label>
                    <input type="text" name="auth" value="{% if data %}{{ data.auth }}{% endif %}">
                </div>
            </div>
            <div class="col">
                <div class="form-group" style="width: 10%;">
                    <label>Working</label>
                    <input type="checkbox" name="working" value="{% if data %}{{ data.working }}{% endif %}">
                </div>
            </div>
            <div class="col">
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>
</div>

</body>
</html>